body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
}

.left-container,
.right-container {
    flex: 1;
    display: flex;
    width: 50%;
    height: 100vh;
    background: #97b1ad;
}

.left-subcontainer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    margin: 25px;
    border-radius: 15px;
    width: 100%;
}

.right-subcontainer {
    overflow: hidden;
    background: #212529;
    margin: 25px;
    border-radius: 15px;
    width: 100%;
}

.right-subcontainer:hover {
    overflow: auto;
}

.select-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 65%;
}

.btn-outline-secondary {
    background: #deedeb !important;
}

.select-container > .btn.custom-btn-select {
    margin-left: 5px;
    background: #97b1ad !important;
}

.select-container > .btn.custom-btn-select:hover {
    background: #85998d !important;
}

.left-container h1 {
    margin: 40px;
}

.left-container label {
    width: 65%;
    margin-top: 45px;
}

.left-container select {
    width: 65%;
}

.left-subcontainer input {
    width: 65%;
}

.custom-select {
    background: #deedeb !important;
}

.custom-select:focus {
    border-color: #cde4e1;
    box-shadow: 0 0 5px #5d7672;
}

.form-control {
    background: #deedeb !important;
}

.form-control:focus {
    border-color: #cde4e1;
    box-shadow: 0 0 5px #5d7672;
}

.btn.cutom-btn-q {
    margin: 60px;
    background: #97b1ad !important;
}

.btn:hover {
    background: #85998d !important;
}

.btn:focus {
    border-color: #cde4e1;
    box-shadow: 0 0 5px #5d7672;
}

/* Personalización del scroll */
.right-subcontainer::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 4px;
}

.right-subcontainer::-webkit-scrollbar-track {
    background: transparent;
    margin: 15px;
}

.right-subcontainer::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 6px;
    transition: background 0.3s ease-in-out;
}

.right-subcontainer::-webkit-scrollbar-corner {
    background: transparent;
}

/* Estilos del Sweetalert2 */

.swal2-icon.swal2-info {
    width: 30px !important;
    height: 30px !important;
}

.swal2-icon.swal2-info::before {
    transform: scale(0.6);
}

.btn-ok {
    border: none; 
    background: none;
}